//footer
mixin footer()
	footer
		.main-detail.center-block
				.container-fluid
					.row
						.col-md-12.text-center
							div.item-text
								h2 Get In Touch
								p.info 
									a(href="#") 
										i(class="fa fa-phone")
										| (000) 000-0000
									a(href="#") 
										i(class="fa fa-envelope")
										| information@untitled.tld
									a(href="#") 
										i(class="fa fa-map-marker")
										| 123 Somewhere Road, Nashville, TN 00000
								hr
								p.copy-right
									| © Untitled. Design 
									a(href="#") TEMPLATED
									| . Images 
									a(href="#") Unsplash
									| .
