mixin menu()
	.menu
		#menu-top.text-center
			nav.item-left
				a(href="javascript:void(0);", class="target-menu")
					i.fa.fa-bars
			a.logo intensify
			nav.item-right
				a.log-in LOG IN
	#menu-sub
		ul.links
			li
				a(href="") Home	
			li
				a(href="") Generic
			li
				a(href="") Elements
		a(class='close', href='javascript:void(0);')
			i.fa.fa-times
		
						
	
			


