mixin banner()
	.banner
		.contaciner-fluid
			.row
				.col-md-12.text-center
					h2 Ipsum sed lorem
					p Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod <br/>sed arcu cras consecuat lorem ipsum dolor sit amet.
					a(href="#", class="get-started") get started